AVIATIONSTACK_API_KEY=your_server_side_api_key
AVIATIONSTACK_API_URL=https://api.aviationstack.com/v1/flights
AVIATIONSTACK_LIMIT=25
OPENSKY_USERNAME=optional_opensky_username
OPENSKY_PASSWORD=optional_opensky_password
